<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docker.moduleplayer">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.docker.moduleplayer.PlayerApp"
        android:allowBackup="true"
        android:supportsRtl="true">


        <activity
            android:name=".ui.index.PlayerMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.common.WebActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".ui.common.KnowledgeDetialActivity" android:theme="@style/Theme.AppCompat.Light"></activity>


    </application>


</manifest>
